*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
header{

    background-color:#1e2d3b;
    height: 70px;
  
}
header .logo{
    padding: 10px;
    
}
main{
    margin-top: 70px;
    /* height: 100vh; */
    background-color:  #2e3a46;
}
.card_wrap{
    width: 100%;
    padding-top: 20px;
    height: calc(100vh - 62px);
}
.card{
    background-color: transparent;
    border: none;
}

.card-img-top{
    height: 207px;
}